<li class="list-group-item clearfix">
  <h3 class="pull-right"><small class="text-uppercase">Joined</small> <%= l customer.created_at.to_date %>​</h3>​
  <h3><%= customer.first_name %> <%= customer.last_name %>
    <small><%= customer.username %></small>
  </h3>
  <h4><%= customer.email %></h4>
</li>
